.header {
    position: static;
    width: 414px;
    height: 360px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
  }
  
  .header-logo {
    position: relative;
    width: 74.95px;
    height: 74.95px;
    left: 170.5px;
    top: 101px;
  
    background: #FA4A0C;
    transform: rotate(45deg);
  }
  
  .header-minilogo {
    position: relative;
    width: 14.85px;
    height: 14.85px;
    left: 175.5px;
    top: 95px;
  
    background: #FA4A0C;
    border: 25px solid #FFFFFF;
    transform: rotate(45deg);
  }
  
  .header-title {
    position: relative;
    width: inherit;
    top: 180px;
  
    margin: auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
 
    color: #000000;
  }
  
  .header-bottom {
    position: relative;
    width: 134px;
    height: 3px;
    left: 140px;
    top: 200px;
  
    background: #FA4A0C;
    box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
  }