.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 896px;
  margin: auto;
  margin-top: 1em;
  align-items: center;
  background: #F2F2F2;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
}

.header {
  position: relative;
  width: 414px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 18px;
  margin-bottom: 30px;
}

.header-logo {
  position: relative;
  width: 74.95px;
  height: 74.95px;
  left: 170.5px;
  top: 101px;

  background: #FA4A0C;
  transform: rotate(45deg);
}

.header-minilogo {
  position: relative;
  width: 14.85px;
  height: 14.85px;
  left: 175.5px;
  top: 95px;

  background: #FA4A0C;
  border: 25px solid #FFFFFF;
  transform: rotate(45deg);
}

.header-title {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 182px;
  top: 325px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.header-bottom {
  position: absolute;
  width: 134px;
  height: 3px;
  left: 140px;
  top: 360px;

  background: #FA4A0C;
  box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
  border-radius: 40px;
}

.Login-Group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 314px;
  margin-top: 2.7rem;
}

.Login-Label {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  opacity: 0.4;
}

.Login-Field {
  background-color: transparent;
  color: #000000;

  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000000 1.5px;
  margin-top: 11px;
  padding-bottom: 5px;
  font-weight: bold;
  width: 314px;
  transition: all .1s linear;
}

.Login-Field:focus {
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    outline: none;
}

.Login-Error {
    color: #ff8080;
}

.Login-Forgot {
  position: relative;
  width: 159px;
  height: 23px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  margin-top: 28px;

  color: #FA4A0C;
}

.reminder {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  width: 314px;
  color: #000000;
  opacity: 0.4;
  margin-top: 60px;
}

.Login-Button {
  width: 314px;
  height: 70px;
  left: 50px;

  background: #FA4A0C;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  border: 3px solid #F2F2F2;
  border-radius: 30px;
}

.Login-Btn:hover {
    cursor: pointer;
}

.footer {
  margin-top: 2.5em;
}
