a {
    text-decoration: none;
}

.solicitacao-container {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 315px;
    height: 102px;
    left: 50px;
    top: 178px;
    margin-top: 15px;

    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
}

.solicitacao-avatar {
    position: relative;
    width: 69.21px;
    height: 69.21px;
    left: 17px;

    background: #FA4A0C;
    border-radius: 50%;
}

.solicitacao-detalhes {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 33px;
}

.solicitacao-professor {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    

    color: #000000;
}

.solicitacao-datas {
    display: flex;
    flex-direction: row;
    width: 110px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    padding-right: 5px;

    color: #FA4A0C;
}

.circle:before {
    padding-right: 5px;
    content: ' \25CF';
    font-size: 10px;
    height: 10px;
}

.Icon-Button {
    width: 250px;
    height: 70px;
    left: 50px;
  
    background: #FA4A0C;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    margin-top: 15px;
    
}

.Icons {
    margin-top: 300px;
    justify-content: center;
    align-items: center;

}
  
.Icon-Button:hover {
cursor: pointer;
border: 5px solid #f5551b;
background: #FFFFFF;
color: #000000;
}

.solicitacao-inicio {
    padding-right: inherit;
}