.Field-Group {
    display:block;
    flex-direction: column;
    align-items: flex-start;
    width: 314px;
    height: 65px;
    margin-top: 2.7rem;
  }
  
  .Field-Label {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    opacity: 0.4;
  }
  
  .Field-Field {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    width: 314px;
  
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1.5px;
    margin-top: 11px;
    padding-bottom: 5px;
    
    transition: all .1s linear;
  }
  
  .Field-Field:focus {
      box-shadow: 0 0 0 rgba(0, 0, 0, .5);
      border-bottom: solid #000000 2.5px;
      outline: none;
  }
  
  .Field-Error {
      color: #ff8080;
      font-size: 15px;
  }